<h1>Welcome to the the Robot Factory!</h1>

<ul>
  <li><a href="/robots">All Robots</a></li>
  <li><a href="/robots/new">New Robot</a></li>
</ul>

<img src="http://www.robots.nu/assets/Uploads/_resampled/croppedimage655487-Robot-als-project.jpg">
