<form action="/robots" method="post">
  <h1>Add a new robot:</h1>
<p>Robot's name: <input type='text' name='robot[name]'></input></p>
<p>Robot's city: <input type='text' name='robot[city]'></input></p>
<p>Robot's state: <input type='text' name='robot[state]'></input></p>
<p>Robot's department: <input type='text' name='robot[department]'></input></p>
<p><input type='submit'/></p>
</form>

<p><a href="/robots">Cancel and return to robot index</a></p>
